{% extends "base.html" %}{% load static %}

{% block title %}Solicitud recibida | {% endblock %}

{% block extra_head_code %}


{% endblock %}

{% block content %}
<section style="padding-top: 15px;">
	<div class="container-fluid">
		<div class="jumbotron">
		  <h1 class="display-4">Recibimos tu solicitud</h1>
		  <p class="lead">Tu información fue recibida correctamente nos pondremos en contacto contigo lo más pronto posible.</p>
<!--
		  <hr class="my-4">
		  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
		  <p class="lead">
		    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
		  </p>
-->
		</div>
	</div>
</section>

{% endblock %}

{% block extra_foot_code %}
    
{% endblock %}


